/*** e.ggtimer.com styles *****************************/

/*** Imports ******************************************/

@import url("reset.css");

/**** Global *********************************/

body {
	text-align:center;
	background:url(/images/bg.jpg) center -30px no-repeat;
	font-family:"Lucida Grande", arial, sans-serif;
	color:#555;
}

#wrapper {
	margin:0 auto;
	text-align:left;
	width:850px;
}

a, a:visited {
	color:#333;
}

a:hover {
	color:#000;
}

h1, h2 {
	color:#000;
}

h2 {
	font-size:23px;
	letter-spacing:-2px;
	margin-bottom:20px;
}

h3 {
	color:#444;
	font-size:16px;
}

/**** Forms **********************************/

input {}

.submit {}

label {}

/**** Header *********************************/

#header h1 {
	margin:70px 0 85px 340px;
}

#timer {
	height:50px;
}

/**** Timer*****************************/

#timer label {
	width:300px;
	text-align:right;
	color:#000;
	font-size:16px;
	float:left;
	padding-right:10px;
	padding-top:8px;
}

#timer input {
	padding:4px;
	font-size:16px;
	border:solid 4px #333;
	margin-right:10px;
	color:#555;
	float:left;
	width:350px;
}

#timer input#timergo {
	border:0;
	width:44px;
}

#timer .advc {
   padding-top: 12px;
   
}

/**** Core ***********************************/

.strong {
   font-weight: bold;
}

#core {
	background:url(/images/content-bg.jpg) top no-repeat;
	padding-top:40px;
	overflow:auto;
	font-size:14px;
}

#core a, #core a:visited{
	color:#555;
}

#core a:hover {
	color:#000;
}

#sidebar {
	width:260px;
	float:left;
	padding:0 40px;
}

#sidebar h2 {
	margin-bottom:10px;
}

#content {
	float:left;
	width:500px;
}

#content b {
	color:#000;
}

#footer a, #footer a:visited {
	color:#000;
	font-weight:bold;
}

#options {
position: absolute; 
width:300px; 
height:250px; 
text-align: left;
padding: 10px;
background-color: #FFF;
border: 5px solid #333;
}

#simplemodal-overlay {background-color:#000;}

