@import url("reset.css");
@font-face { font-family: FranklinGothic; src: url('framd.ttf'); } 

body
{
	background-color: #DDDDDD;
	margin: 0;
	padding: 0;
    overflow: hidden;
}

h2
{
   font-family: FranklinGothic, Verdana, Arial, sans-serif;
   font-size: 84px;   
}

#textWrapper {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   display: table;
}

#progressText
{
   margin: 0; 
   padding: 0; 
   text-align: center;
   width: 100%;
   vertical-align: middle;
   display: table-cell;
}

#wrapper
{
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background-color: #DDDDDD;
}

#progress
{
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 0px;
   background-color: #333333;
}

#static
{
   position: absolute;
   top: 10px;
   left: 10px;
   background-color: #FFFFFF;
}
